@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-Bold.woff2') format('woff2'),
    url('../assets/fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-Regular.woff2') format('woff2'),
    url('../assets/fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --text-primary: #403f3d;
  --dark-text-primary: #e1d4c9;
  --dark-text-inverse: #e1d4c9;
  --dark-text-accent: #b0907a;
  --dark-bg-page: #292826;
  --dark-bg-container: #403f3d;
  --dark-bg-overlay: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
  --background-modal: #e1d4c9;
  --background-modalcontrol: #665f55;
  --dark-bg-modal: var(--dark-bg-container);
  --dark-bg-modal-control: var(--dark-bg-page);
  --font-family: 'Inter', sans-serif;
  --second-family: 'Manrope', sans-serif;
}

/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  line-height: 1;
  background-color: var(--text-inverse);
  font-family: var(--font-family);
}
body._lock {
  overflow: hidden;
}
body.dark {
  background-color: var(--dark-bg-page);
}
.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

/***************************************/
.mainpage {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

[class*='__container'] {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

@media (max-width: 399.98px) {
  [class*='__container'] {
    padding: 0 16px;
  }
}

.header {
}
.header__container {
}
.header__body {
  display: flex;
  position: relative;
  padding: 20px 0;
  justify-content: space-between;
}
.header__logo {
  width: 100px;
  height: 60px;
  position: relative;
  z-index: 20;
}
.header__img {
  width: 100%;
}
.header__img_dark {
  display: none;
}
.header__logo.dark .header__img_light {
  display: none;
}
.header__logo.dark .header__img_dark {
  display: block;
}
.header__icon {
  display: none;
  position: relative;
  z-index: 20;
  width: 44px;
  height: 44px;
  border: 1px solid var(--background-container);
  border-radius: 100px;
  align-self: center;
}
.header__icon.dark {
  border: 1px solid var(--dark-border-inverse);
}
.header__icon span::before,
.header__icon span::after {
  content: '';
  position: absolute;
  width: 18px;
  border-bottom: 2px solid var(--background-container);
  transition: all 0.3s ease 0s;
}
.header__icon.dark span::before,
.header__icon.dark span::after {
  border-bottom: 2px solid var(--dark-border-inverse);
}
.header__icon span::after {
  left: 13px;
  top: 16px;
}
.header__icon span::before {
  left: 13px;
  bottom: 16px;
}
.header__icon.active span::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.header__icon.active span::after {
  top: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

@media (max-width: 819.98px) {
  .header__icon {
    display: block;
  }
}
.header__menu {
}
.menu {
  display: flex;
  transition: all 0.3s ease 0s;
}
@media (max-width: 819.98px) {
  .menu {
    padding: 140px 0 0 0;
    position: fixed;
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    background-color: var(--text-inverse);
    z-index: 10;
  }
}
.menu.active {
  right: 0;
}
.menu.dark {
  background-color: var(--dark-bg-page);
}
.menu__list {
  width: 100%;
  column-gap: 40px;
  display: flex;
  align-items: center;
}
@media (max-width: 819.98px) {
  .menu__list {
    flex-direction: column;
    row-gap: 60px;
  }
}
.menu__item {
}
.menu__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease 0s;
}
.menu__list.dark .menu__item .menu__link {
  color: var(--dark-text-primary);
}
@media (max-width: 819.98px) {
  .menu__link {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
  }
}
.menu__link:hover {
  border-color: var(--text-primary);
}
.menu__list.dark .menu__link:hover {
  border-color: var(--dark-text-primary);
}
.menu__item_hide {
  padding: 60px 0 0 0;
  display: none;
}
.menu__img_dark {
  display: none;
}
.menu__item_hide.dark .menu__img {
  display: none;
}
.menu__item_hide.dark .menu__img_dark {
  display: block;
}
@media (max-width: 819.98px) {
  .menu__item_hide {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }
  .menu__item_hide img {
    width: 40px;
    height: 40px;
  }
}
.menu__link_cup {
  display: flex;
  column-gap: 8px;
}
.right {
  display: flex;
  column-gap: 24px;
}
@media (max-width: 399.98px) {
  .right {
    column-gap: 16px;
  }
}
.control {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 20;
}
.control_body {
  display: flex;
  column-gap: 8px;
  max-height: 44px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  padding: 4px;
}
.control_light {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
}
.icon-l-default,
.icon-l-hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}
.icon-l-hover {
  opacity: 0;
}
.control_light.dark .icon-l-hover {
  opacity: 1;
}
.control_light.dark .icon-l-default {
  opacity: 0;
}
.control_light.dark:hover .icon-l-default {
  opacity: 1;
}
.control_light.dark:hover .icon-l-hover {
  opacity: 0;
}
.control_dark {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
}
.control_dark .icon-default,
.control_dark .icon-hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}
.control_dark .icon-hover {
  opacity: 0;
}
.control_dark:hover .icon-default {
  opacity: 0;
}
.control_dark:hover .icon-hover {
  opacity: 1;
}
.control_dark.dark .icon-hover {
  opacity: 1;
}
.control_dark.dark .icon-default {
  opacity: 0;
}
.menu__menu {
  display: flex;
  align-items: center;
}
.right.dark .menu__menu .menu__link {
  color: var(--dark-text-primary);
}
.right.dark .menu__menu .menu__link:hover {
  border-color: var(--dark-text-primary);
}
@media (max-width: 819.98px) {
  .menu__menu {
    display: none;
  }
}
.menu__cup_dark {
  display: none;
}
.right.dark .menu__menu .menu__link .menu__cup {
  display: none;
}
.right.dark .menu__menu .menu__link .menu__cup_dark {
  display: block;
}

/**********************************************************/
.hero {
}
.hero__container {
}
.hero__body {
  padding: 0 0 100px 0;
}
.hero__block {
  padding: 100px 0px 100px 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background: url(../assets/images/hero.jpg) no-repeat;
  background-position: center;
  object-fit: cover;
  border-radius: 40px;
}
@media (max-width: 768.98px) {
  .hero__block {
    padding: 100px 0px 100px 60px;
  }
}
@media (max-width: 656.98px) {
  .hero__block {
    padding: 60px 16px;
  }
}
.hero__title {
  max-width: 530px;
  font-weight: 600;
  font-style: italic;
  font-size: 72px;
  line-height: 105%;
  color: var(--text-inverse);
}
@media (max-width: 656.98px) {
  .hero__title {
    font-size: 40px;
  }
}
.hero__title span {
  color: var(--text-accent);
}
.hero__substring {
  max-width: 530px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-inverse);
}
.hero__link {
  display: flex;
  column-gap: 8px;
  align-items: center;
  border-radius: 100px;
  padding: 20px 78px;
  width: 200px;
  height: 64px;
  background: var(--text-inverse);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.hero__link.dark {
  background: var(--dark-bg-page);
  color: var(--dark-text-primary);
}
.hero__icon {
  opacity: 0;
}
.hero__link:hover .hero__icon {
  opacity: 1;
}
.hero__icon_dark {
  display: none;
}
.hero__link.dark .hero__icon {
  display: none;
}
.hero__link.dark .hero__icon_dark {
  display: block;
}
/*****************************************/
.resource {
}
.resource__container {
}
.resource__body {
  padding: 0 0 100px 0;
}
.title {
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: var(--text-primary);
}
.title.dark {
  color: var(--dark-text-primary);
}
@media (max-width: 656.98px) {
  .title {
    font-size: 32px;
  }
}
.title span {
  color: var(--text-accent);
  font-style: italic;
}
.resource__gallery {
  padding: 20px 0 0 0;
  display: flex;
  gap: 40px;
}
@media (max-width: 768.98px) {
  .resource__gallery {
    flex-direction: column;
  }
}
.resource__col {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1 1 0;
}

.resource__img-wrap {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 24px;
}

.resource__img-wrap_tall {
  aspect-ratio: 660 / 590;
}

.resource__img-wrap_short {
  aspect-ratio: 660 / 430;
}

.resource__img {
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}

.resource__img-wrap:hover .resource__img {
  transform: scale(1);
}
@media (max-width: 768.98px) {
  .resource__img-wrap_short {
    display: none;
  }
}
/*********************************************/
.products {
}
.products__container {
}
.products__body {
  padding: 0 0 100px 0;
}
.products__title {
  text-align: center;
}
.products__slider {
}
.slider {
  padding: 40px 0 0 0;
  position: relative;
}
.slider__body {
  padding: 0 0 40px 0;
  display: flex;
  overflow: hidden;
}
.slider__slide {
}
.slide {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slide__image {
  max-width: 480px;
}
.slide__img {
  width: 100%;
}
.slide__content {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
}
.slide__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
}
.slide__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: var(--text-primary);
}
.slide__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  color: var(--text-primary);
}
.slide.dark .slide__title {
  color: var(--dark-text-primary);
}
.slide.dark .slide__subtitle {
  color: var(--dark-text-primary);
}
.slide.dark .slide__price {
  color: var(--dark-text-primary);
}
.slider__pagination {
  display: flex;
  column-gap: 12px;
  justify-content: center;
}
.slider__btn {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--border-primary);
}
.slider__btn.act {
  background-color: var(--background-container);
}
.slider__pagination.dark .slider__btn {
  background-color: var(--dark-border-primary);
}
.slider__pagination.dark .slider__btn.act {
  background-color: var(--dark-border-inverse);
}
.slider__btn_one {
}
.slider__btn_two {
}
.slider__btn_three {
}
.slider__arrow {
  position: absolute;
  border: 1px solid var(--background-container);
  border-radius: 100px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@media (max-width: 656.98px) {
  .slider__arrow {
    display: none;
  }
}
.slider__arrow_left {
  top: 50%;
  left: 0;
}
.slider__arrow_right {
  top: 50%;
  right: 0;
}
/*************************************************/
.app {
}
.app__container {
}
.app__body {
  padding: 0 0 40px 0;
  display: flex;
}
@media (max-width: 1010.98px) {
  .app__body {
    flex-direction: column;
    row-gap: 40px;
  }
}
.app__left {
  padding: 144px 0 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
@media (max-width: 1010.98px) {
  .app__left {
    padding: 0 0;
  }
}
.app__title {
  max-width: 630px;
}
.title {
}
.app__body.dark .app__title {
  color: var(--dark-text-primary);
}
.app__subtitle {
  max-width: 630px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
}
.app__body.dark .app__subtitle {
  color: var(--dark-text-primary);
}
.app__btns {
  display: flex;
  column-gap: 20px;
}
@media (max-width: 656.98px) {
  .app__btns {
    max-width: 200px;
    flex-direction: column;
    row-gap: 20px;
  }
}
.app__btn {
}
.btn {
  display: flex;
  padding: 12px 20px;
  column-gap: 8px;
  border: 1px solid var(--background-container);
  border-radius: 100px;
  text-decoration: none;
  color: var(--text-primary);
}
.app__body.dark .app__btns .btn {
  color: var(--dark-text-primary);
  border: 1px solid var(--dark-border-inverse);
}
.btn__image {
  max-width: 36px;
}

.btn__img {
  width: 100%;
}
.btn__img_hide {
  display: none;
}
.app__body.dark .app__btns .btn .btn__img_hide {
  display: block;
}
.app__body.dark .app__btns .btn .btn__img_light {
  display: none;
}
.btn__text {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
}
.btn__title {
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  text-align: center;
}
.btn__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.app_right {
  max-width: 630px;
}
@media (max-width: 1010.98px) {
  .app__right {
    padding: 0 29px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}
.app__image {
  max-width: 100%;
}
