@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-Bold.woff2') format('woff2'),
    url('../assets/fonts/Manrope-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Manrope';
  src:
    url('../assets/fonts/Manrope-Regular.woff2') format('woff2'),
    url('../assets/fonts/Manrope-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-Bold.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-Regular.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-SemiBold.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
    url('../assets/fonts/Inter18pt-SemiBoldItalic.woff2') format('woff2'),
    url('../assets/fonts/Inter18pt-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --text-primary: #403f3d;
  --dark-text-primary: #e1d4c9;
  --dark-text-inverse: #e1d4c9;
  --dark-text-accent: #b0907a;
  --dark-bg-page: #292826;
  --dark-bg-container: #403f3d;
  --dark-bg-overlay: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
  --background-modal: #e1d4c9;
  --background-modalcontrol: #665f55;
  --dark-bg-modal: var(--dark-bg-container);
  --dark-bg-modal-control: var(--dark-bg-page);
  --font-family: 'Inter', sans-serif;
  --second-family: 'Manrope', sans-serif;
}

/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  line-height: 1;
  background-color: var(--text-inverse);
  font-family: var(--font-family);
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

/***************************************/
.mainpage {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

[class*='__container'] {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}

@media (max-width: 399.98px) {
  [class*='__container'] {
    padding: 0 16px;
  }
}

.header {
}
.header__container {
}
.header__body {
  display: flex;
  padding: 20px 0;
  justify-content: space-between;
}
.header__logo {
  width: 100px;
  height: 60px;
}
.header__img {
  width: 100%;
}
.header__icon {
  display: none;
  position: relative;
  width: 44px;
  height: 44px;
  border: 1px solid var(--background-container);
  border-radius: 100px;
  align-self: center;
}
.header__icon span::before,
.header__icon span::after {
  content: '';
  position: absolute;
  width: 18px;
  border-bottom: 2px solid var(--text-primary);
}
.header__icon span::after {
  left: 13px;
  top: 16px;
}
.header__icon span::before {
  left: 13px;
  bottom: 16px;
}

@media (max-width: 819.98px) {
  .header__icon {
    display: block;
  }
}
.header__menu {
}
.menu {
  display: flex;
}
@media (max-width: 819.98px) {
  .menu {
    position: absolute;
    right: 100%;
  }
}
.menu__list {
  column-gap: 40px;
  display: flex;
  align-items: center;
}
.menu__item {
}
.menu__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-primary);
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease 0s;
}
.menu__link:hover {
  border-color: var(--text-primary);
}
.menu__item_hide {
  display: none;
}
@media (max-width: 819.98px) {
  .menu__item_hide {
    display: block;
  }
}
.menu__link_cup {
  display: flex;
  column-gap: 8px;
}
.right {
  display: flex;
  column-gap: 24px;
}
.control {
  display: flex;
  align-items: center;
}
.control_body {
  display: flex;
  column-gap: 8px;
  max-height: 44px;
  border: 1px solid var(--border-primary);
  border-radius: 100px;
  padding: 4px;
}
.control_light {
  cursor: pointer;
}
.control_dark {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
}
.control_dark .icon-default,
.control_dark .icon-hover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}
.control_dark .icon-hover {
  opacity: 0;
}
.control_dark:hover .icon-default {
  opacity: 0;
}
.control_dark:hover .icon-hover {
  opacity: 1;
}
.menu__menu {
  display: flex;
  align-items: center;
}
@media (max-width: 819.98px) {
  .menu__menu {
    display: none;
  }
}
