:root {
  --text-primary: #403f3d;
  --text-inverse: #e1d4c9;
  --text-accent: #b0907a;
  --background-page: #e1d4c9;
  --background-container: #665f55;
  --background-overlay: rgba(64, 63, 61, 0.8);
  --border-primary: #c1b6ad;
  --border-inverse: #665f55;
  --text-primary: #403f3d;
  --dark-text-primary: #e1d4c9;
  --dark-text-inverse: #e1d4c9;
  --dark-text-accent: #b0907a;
  --dark-bg-page: #292826;
  --dark-bg-container: #403f3d;
  --dark-bg-overlay: rgba(41, 40, 38, 0.8);
  --dark-border-primary: #665f55;
  --dark-border-inverse: #c1b6ad;
  --background-modal: #e1d4c9;
  --background-modalcontrol: #665f55;
  --dark-bg-modal: var(--dark-bg-container);
  --dark-bg-modal-control: var(--dark-bg-page);
}

/* Обнуление стилей */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-style: 16px;
}

body {
  line-height: 1;
}
body._lock {
  overflow: hidden;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}

/***************************************/
.mainpage {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

[class*='__container'] {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 40px;
}
